.header{
    background-color: #d49726;
    padding: 30px;
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.header__nav-title{
    color: white;
    font-style: italic;
    text-decoration: none;
}

.header__nav-title:hover{
    color: white;
    text-decoration: underline;
}


